<DOCTYPE! html>
    <html>

    <head>
        <link rel=stylesheet href="../css/style.css">
        <meta name="viewport" content="width=1000; user-scalable=0;" />
        <title></title>

        <head>

            <body>

                <div class="top">
                    <a href="../index.html" class="home"><img id="up" src="../img/logo.png" ></a>

                    <a href="../sign_in_and_out/sign-in.html" class="signin">Sign in</a>
                    <a href="../sign_in_and_out/sign-up.html" class="signup">Sign up</a>
                    <a href="../admin/admin.html" class="Admin"> Admin </a>
                    <a href="../profile/profile.html" class="profile"> Profile</a>
                </div>

                <div class="create-flag" action="../posts/InterventionPosts.html" method="POST">
                    <div class="container1">
                        <form class="form">
                            <h2> Edit </h2>
                            <input type="text" id='title' name="title" placeholder="Title" required>
                            <br>
                            <textarea rows=5 cols=50 id='story' placeholder="Add story here" required></textarea>
                            <br>
                            <br>
                            <small>Image</small>
                            <input type="file" accept="image/*" name="image">
                            <br>
                            <br>
                            <small>Video</small>
                            <input type="file" accept="video/*" name="video">
                            <br>
                            <h3>Add location</h3>
                            <div id="map"></div>
                            <input type="text" name="longitude" placeholder="Longitude" id="lat" readonly="yes">
                            <br>
                            <input type="text" name="latitude" placeholder="Latitude" id="lng" readonly="yes">
                            <br>
                            <br>
                            <a href="../posts/postContent.html">
                                <input type="button" name="create" id="edits" value="Edit"> </a>
                            <br>
                        </form>
                    </div>
                </div>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3a6RGsYSpUov6oNoHL909c_5gYS-99bA&callback=initMap">
                    </script>
                    <script type="text/javascript" src='../js/map.js'></script>
                    <script type="text/javascript" src='../js/script.js'></script>
                   
            </body>

    </html>