
                <div class="container"  >
                    <form class="form" method="POST" action="/api/v1/auth/signup">
                        <h2>Welcome!</h2>
                        <br>
                        <input type="text" placeholder="First name" name="firstname" required>
                        <br>
                        <input type="text" placeholder="Last name" name="lastname" required>
                        <br>
                        <input type="text" placeholder="Other name" name="othernames" required>
                        <br>
                        <input type="number" placeholder="Phone Number" name="phonenumber" required>
                        <br>
                        <input type="text" placeholder="Username" name="username" required>
                        <br>
                        <input type="email" placeholder="Email" name="email" required>
                        <br>
                        <input type="password" placeholder="Password" name="password" required>
                        <br>
                            <input type="submit" value="Sign Up"  >
                        <p class="hasAcct"> Already has an account? <a href="/api/v1/auth/login">sign in</a> </p>
                    </form>
                </div>
    

  