
    

                <div class="container">
                    <form class="form" method="POST" action="/api/v1/auth/login">
                        <h2>Welcome back!</h2>
                        <br>

                        <input type="email" name="email" placeholder="Email" required>
                        <br>
                        <input type="password" name="password" placeholder="Password" required>
                        <br>
                            <input type="submit" value="Login"> 
                        <p class="hasAcct"> Don't have an account? <a href="/api/v1/auth/signup">sign up</a> </p>
                    </form>
                </div>
            </body>

    </html>