
        <div class="top">
            <a href="/api/v1"  class="home"><img id="up" src="/img/logo.png" ></a>
            <a href="/api/v1/auth/login" class="signin">Sign in</a>
            <a href="/api/v1/auth/signup" class="signup">Sign up</a>
            <a href="admin/admin.html"  class="admin"> Admin </a>
            <a href="profile/profile.html" class="profile"> Profile</a>
        </div>
             <div class="nav">
                <a href="/api/v1/record" class="red-flag">Red-flag posts </a>
                <a href="/api/v1/record" class="intervention">Intervention posts </a>
            </div>
