        <div class="top">
            <a href="/api/v1"  class="home"><img id="up" src="/img/logo.png" ></a>
            <a href="/api/v1/auth/login" class="signin">Sign in</a>
            <a href="/api/v1/auth/signup" class="signup">Sign up</a>          
        </div>