
    <head>
        <link rel=stylesheet href="/css/style.css">
        <meta name="viewport" content="width=1000; user-scalable=0;" />
        <title></title>

    </head>
            

            <body>
                <div class="white">
                {{> login/login-nav }}
                </div>

               {{{body}}} 
               
            </body>