<DOCTYPE! html>
    <html>

    <head>
        <link rel=stylesheet href="../css/style.css">
        <meta name="viewport" content="width=1000; user-scalable=0;" />
        <title></title>

        <head>

            <body>
                <div class="top">
                    <a href="../index.html" id="top" class="home"><img id="up" src="../img/logo.png" </a>
                    
                    <a href="../sign_in_and_out/sign-in.html" class="signin">Sign in</a>
                    <a href="../sign_in_and_out/sign-up.html" class="signup">Sign up</a>
                    <a href="../admin/admin.html" class="Admin"> Admin </a>

                    
                </div>
                
                <div class="user">
                    <div class="aboutuser">
                        
                        <div class="userinfo">
                            <img src="../img/instagram-search-icon-12.jpg" id="img2">
                            
                            <h2> Welcome , </h2>
                            <h2>HalimYusuf </h2>
                            <!-- demo name -->
                            </div>
                            <div class="userinfo1">
                                <p>PhoneNumber: </p>
                                <p>Email: </p>
                                <p>Name: </p>
                            </div>
                    <div class="activities">

                        <p> Resolved red-flag records <span>&rarr;</span> <span>0</span> </p>

                        <p> Resolved intervention records <span>&rarr;</span> <span>0</span> </p>

                        <p> Unresolved red-flag records <span>&rarr;</span> <span>0</span> </p>

                        <p> Unresolved intervention records<span>&rarr;</span> <span>0</span> </p>

                        <p> Rejected red-flag records<span>&rarr;</span> <span>0</span> </p>

                        <p> Rejected interventio records <span>&rarr;</span> <span>0</span> </p>

                        <p> All red-flag records <span>&rarr;</span> <span>0</span> </p>

                        <p> All intervention records <span>&rarr;</span> <span>0</span> </p>
                    </div>
                        <br>

                    </div>
                </div>

            </body>

    </html>